<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /jax/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jax/index.php [L]
</IfModule>



