@import "compass_twitter_bootstrap";
body {
      padding-bottom: 40px;
          padding-top: 60px;
        }
.game{ position:relative;  }
.game_controls{ display:none;margin:0 30px; float:left;
  li.btn{ margin-left:10px;  }
}
.home{ 
  h1{ text-align:center;  }
}

img#characters{ display:none; }

#join{ display:none; padding-bottom:30px; clear:both; }
#login{
  a.join{ float:left;margin:0 0 10px 30px; }
  h1{ margin:20px 0 20px 0; }
}
#lets_play{ display:none;  }
#main_menu{ 
 #pick_game{ display:none; } 
  #main_menu_content{
    border-radius:6px; background:#eee; position:relative;z-index:999;margin-top:60px; 
    p{ margin:15px; }
    h1, h2{ text-align:center; }
    li{ float:left; width:120px; margin:8px;}
  }  
}
img.image_load{ display:none; }
canvas#board{ opacity:0.5; border:1px solid #000; position:absolute; left:50px; background:url(images/town.png) no-repeat 0 0; }


@mixin dialog_window($neg_width){ position:absolute; margin-top:150px; margin-left:$neg_width; left:50%; display:none; background-color:rgba(255,255,255,0.9);  }

#single_question{
	@include dialog_window(-40px);
        border-radius:6px;
        padding:5px;
	width:80px; height:80px; 
	z-index:99;
	p{ width:70px; margin:5px;  }
	input{ width:50px; margin:8px;  }

}

#score{ position:absolute; left: 950px; width:50px; }

#score p{ 
  width:40px; height:12px; margin:1px; float:left; 
  background-color:gold; border-radius:5px; border:1px solid #000;
}

#timer{ position:absolute; left:1000px; width:50px; display:none;  }

#house{ 
	@include dialog_window(-150px);
	width: 300px; height:300px;	
	z-index:100;
  background-color:rgba(255,255,255,1);	
}


